@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: rgb(243 244 246);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.disable-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.disable-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}